<nav class="nav">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="logo"
    aria-label="Back home"
    >🏠</a
  >

  <app-breadcrumbs />

  <a
    routerLink="/favorites"
    routerLinkActive="active"
    class="favorites-link"
    aria-label="List of favorite films"
  >
    <span class="icon">{{ filmService.favoriteFilms().length > 0 ? '❤️' : '🤍' }}</span>

    @if (filmService.favoriteFilms().length > 0) {
      <span class="count">{{ filmService.favoriteFilms().length }}</span>
    }
  </a>
</nav>
