:host {
    display: flex;
    flex-direction: column;
    min-height: 100dvh; 
    width: 100wv;  
}

.header {    
    background: var(--header-bg);
    box-shadow: var(--header-shadow);
}

.main {
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
}

.footer {
    background: var(--footer-bg);
    box-shadow: var(--footer-shadow);
}